
/*Configurações Gerias*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: hsl(30, 38%, 92%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

h1{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

h3{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 500;

}

/* Estilizando as divs */

.container{
    background-color: aliceblue;
    border-radius: 16px;
    width: 1150px;
    height: 900px;
   /* padding: 42px; */
    margin: 0 auto;
    margin-top: 8%;

}

.lado_esquerdo{
    float: left;
}

.lado_direito{
    padding: 42px;
    width: 40%;
    float: right;
}

.imagem1{
    float: left;
    /*width: 40%;
    height: 50%;*/
    border-radius: 12px;
}

/*
p{
    display: inline-block;
    text-align: justify;
}

h1{
    text-align: justify;
}

h3{
    text-align: justify;
}

body{
    width: 70%;
}

#container01{
border-radius: 8px;
border-color: black;
float: left;
padding: 10%;
width: 10%;


}

#container02{
    background-color: hsl(30, 38%, 92%);
    border-radius: 8px;
    float: right;
    padding: 10%;
    width: 10%;
}

.imagem1{
    border-radius: 8px;
    float: left;
}

.atribution{
    clear: both;
}
*/