
/*Configurações Gerias*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.{
    padding: 1440px;
    margin: 800px;
}

body{
    background-color: hsl(30, 38%, 92%);
    
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

h1{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-align: justify;
    text-align: center;
}

h3{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}
p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    text-align: center;
    

}

button{
    background-color: rgb(7, 68, 27);
    width: 150px;
    height: 60px;
    border-radius: 16px;
    text-align: center;
    margin-left: 100px;
    margin-right: 130px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

/* Estilizando as divs */

.container{
    background-color: aliceblue;
    border-radius: 16px;
    width: 850px;
    height: 550px;
   /* padding: 42px; */
    margin: 0 auto;
    margin-top: 8%;

}

.lado_esquerdo{
    float: left;
}

.lado_direito{
    padding: 42px;
    width: 40%;
    float: right;
}

/* Estiliazando a imagem*/

.imagem1{
    float: left;
    width: 426px;
    height: 550px;
    border-radius: 12px 0px 0px 12px;
  
   
}

